# Ambiente
NODE_ENV=development

# URL das aplicações (Proxy Nginx)
APP_URL=http://localhost
API_URL=http://localhost/api

# Banco de Dados (PostgreSQL)
# Use 'localhost' para acesso local ou 'postgres' dentro do docker-compose
DATABASE_URL="postgresql://postgres:postgres_secret@postgres:5432/eventhub?schema=public"

# Redis / Valkey
# Use 'localhost' para acesso local ou 'redis' dentro do docker-compose
REDIS_URL="redis://redis:6379"

# S3 Local (MinIO)
# Use 'localhost' para acesso local ou 'minio' dentro do docker-compose
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_secret_key_123
MINIO_BUCKET_EVENTS=events
MINIO_BUCKET_CERTIFICATES=certificates

# Autenticação
JWT_SECRET=super_secret_jwt_key_12345
JWT_REFRESH_SECRET=super_secret_refresh_jwt_key_12345

# SMTP (Envio de Emails)
SMTP_HOST=maildev
SMTP_PORT=1025
SMTP_USER=user
SMTP_PASS=pass
SMTP_FROM="EventHub <no-reply@eventhub.com>"
