<h2>Você está na lista de espera</h2>
<p>Olá, {{name}}.</p>
<p>O evento <strong>{{eventTitle}}</strong> atingiu a capacidade total de vagas, e por isso sua inscrição foi alocada na lista de espera.</p>

<p>Sua posição atual na fila de espera é:</p>

<div class="code-box">
  #{{position}}
</div>

<p>Caso outros participantes cancelem suas inscrições, você poderá ser promovido para o status de confirmado de forma automática. Nós avisaremos você por e-mail!</p>
