<h2>Bem-vindo ao SMEL-Plataforma de Eventos, {{name}}!</h2>
<p>Sua conta foi criada e ativada com sucesso.</p>
<p>Agora você pode fazer login na nossa plataforma para explorar eventos, gerenciar suas inscrições e configurar sua organização.</p>

<div style="text-align: center;">
  <a href="{{appUrl}}/login" class="btn">Acessar Painel</a>
</div>

<p>Estamos muito felizes em ter você conosco!</p>
